@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Nunito, sans-serif;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  transition: 1s ease;
}

/* INPUT */

.input {
  font-family: Nunito, sans-serif;
  margin: 20px;
  border: none;
}

.search-box, .btn {
  margin: 5px 5px;
  height: 25px;
  border: none;
}
.search-box, .search-box:active {
  background-color: transparent;
  width: 250px;
  border-bottom: #000 solid 2px;
}
.btn {
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

/* WEATHER */

.location {
  font-size: 30px;
}

.weather-display {
  border-radius: 20px;
  background-color: #00000060;
  width: 30%;
  margin: 0 auto;
}

.temp-display, .icon {
  display: inline-block;
}

.temp-display {
  margin-right: 15%;
}

.temp {
  font-size: 50px;
}

.condition {
  font-size: 20px;
}

.icon {
  font-size: 90px;
}

/* BACKGROUNDS */

.summer {
  background-image: url(./bkgrnd_imgs/summer.jpg);
}

.spring {
  background-image: url(./bkgrnd_imgs/spring.jpg);
}

.fall {
  background-image: url(./bkgrnd_imgs/fall.jpg);
}

.winter {
  background-image: url(./bkgrnd_imgs/winter.jpg);
}
